<div class="LeftMenu">
    <nav>
        <div>
            <p class="GroupHeader GroupHeader-first">Замовлення</p>
            <a class="MenuLink SelectedLink" href="/orders/search"><span>Пошук нових замовлень</span></a>
            <a class="MenuLink" href="/orders/favorites"><span>Обрані</span></a>
            <a class="MenuLink" href="/orders/suggested-prices"><span>Запропоновані ціни</span></a>
            <a class="MenuLink" href="/orders/closed"><span>Закриті</span></a>
            <a class="MenuLink" href="/orders/in-progress"><span>У виконанні</span></a>
            <a class="MenuLink" href="/orders/ready"><span>Готові</span></a>
            <a class="MenuLink" href="/orders/personal"><span>Персональні замовлення</span></a>
            <a class="MenuLink" href="/orders/urgent"><span>Термінові замовлення 🔥</span></a>
            <a class="MenuLink MenuLink__new" href="/orders/earn-more"><span>Заробити більше</span><div class="NewBadge"><span class="NewBadge__text">new</span></div></a>
        </div>
        <div>
            <p class="GroupHeader">Повідомлення</p>
            <a class="MenuLink" href="/notifications"><span>Сповіщення</span><span class="counter">2</span></a>
            <a class="MenuLink" href="/templates"><span>Шаблони</span></a>
            <a class="MenuLink" href="/orders/new"><span>Нові замовлення</span><span class="counter">79</span></a>
            <a class="MenuLink" href="/customers"><span>Мої замовники</span></a>
        </div>
        <div>
            <p class="GroupHeader">Особистий рахунок</p>
            <a class="MenuLink" href="/balance/withdraw"><span>Вивести гроші</span></a>
            <a class="MenuLink" href="/balance/deposit"><span>Поповнити баланс</span></a>
            <a class="MenuLink" href="/balance/history"><span>Історія операцій</span></a>
        </div>
        <div>
            <a class="MenuLink" href="/bonuses"><span>Збільшити дохід</span></a>
        </div>
    </nav>
</div>
