{% extends "orders/index.html" %}
{% load static %}

{% block title %}
  Order Detail
{% endblock title %}

{% block content %}



<h3 class="text-center">Інформація по замовленню</h3>
<table class="table">

  <tbody>
    <tr>
      <td><img src="{% static 'img/favorite_active.svg' %}" alt="Фавікон">{{ order.get_type_of_work_display }}, {{ order.subject }}</td>
      <td><img src="{% static 'img/price-status.svg' %}" alt="Гаманець"><span>Сума замовлення:</span> {{ order.order_amount }} грн</td>
    </tr>
    <tr>
      <td><strong>{{ order.title }}</strong></td>
      <td><img src="{% static 'img/time-green-status.svg' %}" alt="Таймер"><span>Термін здачі :</span> {{ order.deadline }} </td>
    </tr>
  </tbody>
</table>


            <div class="order-price">
                    <span>Скачати файл:</span> {{ order.file_upload }}
            </div>

            <div class="order-info__info-section">
                <div class="order-status">
                    <p class="order-status__status">
                        <span>{{ order.get_status_display }}</span>
                        {% if order.status == order.Status.COMPLETED %}
                            ✅
                        {% elif order.status == order.Status.NOT_PERFORMER %}
                            ❌
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



    {% include "orders/components/order_list.html" %}
{% endblock %}