<div class="container-fluid">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top" style="background-color: black;">


    <div class="col-sm-3 me-auto">
      <a href="/" class="footer-logo">
        <img src="/img/logo-diplomua.svg" alt="Diplom.ua">
      </a>
      <div class="footer-cr">
        <p><span style="font-size:14px" class="nav-link p-0 text-white" >© Diplom.UA - Біржа інформаційних послуг для студентів в Україні. </span></p>
        <p><span style="font-size:14px" class="nav-link p-0 text-white" >Швидко, якісно, без зайвих витрат.</span></p>
          </div>
          <div class="footer-payment">
            <div class="footer-payment__item">
              <img src="/img/payment/visa.svg" alt="Visa">
            </div>
            <div class="footer-payment__item">
              <img src="/img/payment/mastercard.svg" alt="Mastercard">
            </div>
            <div class="footer-payment__item">
              <img src="/img/payment/liqpay.svg" alt="Liqpay">
            </div>
          </div>
    </div>

    <div class="col mb-3 ms-auto">
      <h5 class="text-white">Про компанію</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Гарантії</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Зв'язатися з адміністрацією</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Реклама на сайті</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Карта сайту</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Політика конфіденційності</a></li>
      </ul>
    </div>

    <div class="col mb-3 ms-auto">
      <h5 class="text-white">Послуги та сервіси</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Угода користувача</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Безпечна угода</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Платні сервіси</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Партнерська програма</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Запитання та відповіді</a></li>
      </ul>
    </div>


  </footer>
</div>
