
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Work4Study</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <div class="d-grid gap-2 d-md-block">
          {% if user.is_authenticated %}
            {% include "components/dropdown_user.html" %}
          {% else %}
            <div class="d-flex gap-2">
              <a href="{% url 'users:login' %}" class="btn btn-outline-warning">Увійти</a>
              <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" id="registerDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Зареєструватися
                </button>
                <ul class="dropdown-menu" aria-labelledby="registerDropdown">
                  <li><a class="dropdown-item" href="{% url 'users:register' %}?role=customer">Хочу бути замовником</a></li>
                  <li><a class="dropdown-item" href="{% url 'users:register' %}?role=executor">Хочу бути автором</a></li>
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="offcanvas-body ">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Топ виконавців</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Про проект</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Послуги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Партнерам</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Контакти</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Допомога
            </a>
            <ul class="dropdown-menu dropdown-menu-end" style="width: 100px;" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="#">Питання та відповіді</a></li>
              <li><a class="dropdown-item" href="#">Безпечна угода</a></li>
              <li><a class="dropdown-item" href="#">Платні сервіси</a></li>
              <li><a class="dropdown-item" href="#">Угода користувача</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>