.orders-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc; /* Лінія під заголовком */
}

.EmptyList {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрує елементи горизонтально */
    justify-content: center; /* Центрує елементи вертикально */
    text-align: center; /* Вирівнює текст */
}

.orders-wrapper {
    width: 100%;
    margin: 0 auto;
     box-sizing: border-box; /* Переконайтесь, що елементи враховують padding і border */
}

.orders-responsive {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.orders-padding {
    padding: 20px;
}

@media (max-width: 768px) {
    .orders-wrapper {
        width: 100%;
    }

    .orders-responsive {
        flex-direction: column; /* У мобільному вигляді блоки йдуть вертикально */
        align-items: stretch; /* Тягнемо блоки по ширині */
    }
}