.order-detail-table {
  /* стилізація всієї таблиці */
}

.order-detail-row-author {
  background-color: #fff9db;
}

.order-detail-cell-with-icon img {
  margin-right: 8px;
}

.order-detail-btn-transparent {
  background-color: transparent;
  color: #ffc107;
  border: 1px solid #ffc107;
}

.order-detail-btn-message {
  background-color: #ffc107;
  color: #fff;
}

.order-detail-cell-actions {
    background-color: #fff9db
}

.order-detail-table {
  margin-bottom: 0 !important;
}

#orderDetailTabsContent,
.order-tabs-wrapper {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

tr.order-detail-row-author {
    background-color: #fff9db;
}
