{% block extra_styles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'users/css/styles_work_page_customer.css' %}">
{% endblock extra_styles %}


<div class="orders-header">
    <div class="ListOrdersLayout__heading-inner">
        <div class="ListOrdersLayout__title">Мої замовлення</div>
    </div>
</div>

<div class="orders-wrapper orders-responsive orders-padding">
    <div class="ListOrders">
        <div class="OrdersFromActiveCategory">
            <div class="EmptyList" data-testid="empty-list-component">
                <a class="footer-logo">
                    <img src="{% static 'img/logo.png' %}" alt="logo" class="w-50 h-auto">
                </a>
                <h2 data-testid="header">Замовлень поки немає</h2>
                <p data-testid="comment">Тут будуть всі ваші замовлення</p>
                <a class="dropdown-item text-white bg-warning rounded-pill px-4 py-1 mx-3 w-auto text-center" href="{% url 'orders:create' %}">
                    <i class="fas fa-user me-2"></i> <!-- Іконка кабінету -->
                    Створити нове замовлення
                </a>
            </div>
        </div>
    </div>
</div>
