{% block extra_styles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'users/css/styles_work_page_customer.css' %}">
{% endblock extra_styles %}

<div class="orders-header">
    <div class="ListOrdersLayout__heading-inner">
        <div class="ListOrdersLayout__title">Мої замовлення</div>
    </div>
</div>

<div class="orders-wrapper orders-responsive orders-padding">
    <div class="ListOrders">
        <div class="OrdersFromActiveCategory">
            {% for order in customer_orders %}
            <div class="OrderItem">
                <h3><a href="{% url 'orders:detail_order_customer' pk=order.pk %}">{{ order.title }}</a></h3>
                <p>{{ order.description }}</p>
                <small>Створено: {{ order.created_at|date:"d.m.Y H:i" }}</small>
                <p><strong>Статус:</strong> {{ order.get_status_display }}</p>
            </div><hr>
            {% endfor %}
        </div>
    </div>
</div>